<%- include('../layouts/header.ejs'); %>

<div class="authCard">
    <div class="form">
        <form action="/forgotpassword" method="POST">
            <label>Email</label>
            <input type="text" placeholder="&#xF0E0;   Enter Your Email" name="email" class="authInput">
            <div class="authBtn">
                <button type="submit">Continue</button>
            </div>
        </form>
    </div>
</div>