<%- include('../layouts/header.ejs'); %>

<div class="authCard">
    <div class="form">
        <form action="/login" method="POST">
            <label>Email</label>
            <input type="text" placeholder="&#xF0E0;   Email" name="email" class="authInput">
            <label>Password</label>
            <input type="password" placeholder="&#xf084;   Password" name="password" class="authInput">
            <div class="authBtn">
                <button type="submit">Log In</button>
            </div>
        </form>
    </div>
</div>