<%- include('../layouts/header.ejs'); %>
<form class="box" action="/reset-password" method="POST">
    <div>
        <p>Your Email:</p>
        <input class="password" type="text" name="email" placeholder="Email Address" readonly="" value="<%= passedEmail %> ">
    </div>
   <div>
       <label>Current Password</label>
       <input name="currentPwd" type="password" class="password" placeholder="Current Password" required>
   </div>
   <div>
       <label>New Password</label>
       <input name="newPwd" type="password" class="password" placeholder="New Password" required>
   </div>
   <div>
       <label>Confirm New Password</label>
       <input name="confirmNewPwd" type="password" class="password" placeholder="Confirm New Password" required>
   </div>
   <%= errorMessage %>
   <div class="btn-container">
       <button class="btn">
           Reset Password
       </button>
   </div>
 
</form>