<%- include('../layouts/header.ejs'); %>
<form class="box">
   <div>
       <label>Current Password</label>
       <input type="password" class="password" placeholder="Current Password">
   </div>
   <div>
       <label>New Password</label>
       <input type="password" class="password" placeholder="New Password">
   </div>
   <div>
       <label>Confirm New Password</label>
       <input type="password" class="password" placeholder="Confirm New Password">
   </div>
   <div class="btn-container">
       <button class="btn">
           Reset Password
       </button>
   </div>
 
</form>