<%- include('../layouts/header.ejs'); %>
</head>
<body>
<div>
    <form action="/signup" method="post">
        <div>
            <label for="fullName">
                Full Name:
                <input type="text" name="fullName" required>
            </label>
        </div>
        <div>
            <label for="username">
                Username:
                <input type="text" name="username" required>
            </label>
        </div>
        <div>
            <label for="password">
                Password:
                <input type="password" name="password" required>
            </label>
        </div>
        <div>
            <label for="confirmPassword">
                Confirm Password:
                <input type="password" name="confirmPassword" required>
            </label>
        </div>
        <div>
            <label for="email">
                Email:
                <input type="text" name="email">
            </label>
        </div>
        <div>
            <label for="phone">
                Phone:
                <input type="text" name="phone">
            </label>
        </div>
        <div>
            <label for="dob">
                Dob:
                <input type="date" name="dob">
            </label>
        </div>
        <p><%= message %></p>
        <button type='submit'>Sign up</button>
    </form>
</div>
<%- include('../layouts/footer.ejs') %>