<%- include('../layouts/header.ejs'); %>
<form class="box">
    <div>
        <p>Your Temporary Password</p> 
    </div>
    <div>
        <input type="text" class="password" id="temp-password" placeholder="Create Your Password" readonly="" value="<%= randomPassword %> ">
        <i class="fa fa-copy copy-clipboard" onclick="copyPassword()"></i>
    </div>
    <p id="show-copied">Copied!</p>
    <div class="btn-container">
        <button class="btn" type="button">
            Login
        </button>
    </div>
</form>
