<%- include('../layouts/header.ejs'); %>
<form class="box" action="/temp-password" method="POST">
   <div>
       <p>Your Email:</p>
       <input class="password" type="text" name="email" placeholder="Email Address" readonly="" value="<%= passedEmail %> ">
   </div>
    <div>
       <p>Your Temporary Password</p>
   </div>
   <div>
       <input style="float: left" type="text" class="password" id="temp-password" name="tempPassword" placeholder="Create Your Password" readonly="" value="<%= randomPassword %> ">
       <i style="float: right" class="fa fa-copy copy-clipboard" onclick="copyPassword()"></i>
   </div>
   <p id="show-copied">Copied!</p>
   <div class="btn-container">
       <button class="btn" type="submit">
           Login
       </button>
   </div>
</form>