<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nav bar</title>
    <link href="/CSS/footer.css" rel="stylesheet" type="text/css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="main">
      <div class="chat_and_luong">
        Quy luật lượng chất là quy luật chuyển hóa từ những sự thay đổi về lượng
        thành những sự thay đổi về chất và ngược lại, đây là một trong ba quy
        luật cơ bản của phép biện chứng duy vật trong triết học Mac – Lênin.
        Theo quan điểm của triết học Mac – Lênin thì mọi sự vật, hiện tượng trên
        trái đất đều tồn tại hai vật là mặt chất và mặt lượng, trong đó: Chất là
        một phạm trù của triết học, dùng để xác định tính quy luật khách quan
        vốn có của sự vật, hiện tượng. Hiểu một cách đơn giản thì đó là sự thống
        nhất hữu cơ của những thuộc tính, những yếu tố cấu thành lên sự vật,
        hiện tượng. Thông qua đó mà nói lên sự vật, hiện tượng đó là gì? Các đặc
        điểm để phân biệt nó với các sự vật, hiện tượng khác. Theo triết học Mac
        – Lênin thì chất được coi là cái vốn có của sự vật, hiện tượng, do những
        thuộc tính hay những yếu tố khác cấu thành quy định. Và theo đó, mỗi sự
        vật thì đều có rất nhiều các thuộc tính, trong mỗi thuộc tính thì lại
        biểu hiện ra một chất khác nhau của sự vật. Lượng cũng vậy, nó cũng được
        xác định là một phạm trù của triết học dùng để xác định tính quy định
        vốn có của sự vật về mặt số lượng, quy mô cũng như là trình độ của sự
        vận động và phát triển cũng như các thuộc tính khác của sự vật khác. Như
        đã phân tích ở trên, lượng là phạm trù triết học được dùng để chỉ tính
        quy định vốn có của sự vật về mặt số lượng, quy mô trình độ của sự vận
        động và phát triển cũng như là các thuộc tính khác đã cấu thành lên sự
        vật. Đặc trưng của lượng sẽ được biểu thị bằng con số hoặc các đại lượng
        chỉ kích thước dài hoặc ngắn, quy mô, tổng số hay trình độ. Nhưng đối
        với các trường hợp phức tạp thì không thể chỉ diễn tả bằng những con số
        đòi hỏi sự chính xác cao mà còn phải được nhận thức bằng khả năng trừu
        tượng hóa. Theo Mac – Lênin thì lượng là cái khách quan vốn có bên trong
        của sự vật. Toàn bộ sự so sánh giữa lượng và chất chỉ là tương đối,
        không có tuyệt đối. Chất chính là chỉ tính quy định khách quan vốn có
        của sự vật, được coi là sự thống nhất hữu cơ của những thuộc tính làm
        cho sự vậy là nó chứ không phải những sự vật khác. Từ đó có thể thấy
        chất và thuộc tính không thể đồng nhất với nhau. Bởi mỗi sự vật, hiện
        tượng đều chứa đựng rất nhiều thuộc tính, nhưng những thuộc tính này
        không thể cùng tham gia vào việc quy định chất như nhau, mà chỉ có những
        thuộc tính cơ bản nhất mới có thể quyết định được bản chất của sự vật.
        Do đó, chỉ khi nào những thuộc tính cơ bản thay đổi thì chất của sự vật
        mới thay đổi theo, đồng nghĩa với việc khi các thuộc tính không cơ bản
        dù có thay đổi hay không thì cũng không làm biến đổi bản chất của sự vật
        đối.Tuy nhiên các thuộc tính cũng như chất của sự vật sẽ luôn có mối
        quan hệ cụ thể với nhau, vì vậy việc phân biệt này chỉ mang tính tương
        đối.
      </div>
    </div>
  </body>
</html>
