.authCard {
    margin: auto;
    width: 19%;
    padding: 0px 10px;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0px 0px 15px 7px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 15px 7px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 15px 7px rgba(0,0,0,0.15);
    /* margin-top: 10rem; */
    margin-top: 10%;
    padding: 100px 50px 100px 50px;
}

.authInput {
    width: 100%;
    padding: 12px 11px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border: radius 4px;
    box-sizing: border-box;
    font-family: FontAwesome, Arial !important;
    font-style: normal
}

.authBtn button{
    width: 100%;
    background-color: #ee1505;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.authBtn button:hover {
    background-color: #af150a;
}

@media only screen and (max-width: 780px) {
    .authCard {
        width: 35%;
    }
}